/* Paid series style */
.chart-bar.series0 {
    -fx-bar-fill: #64E338;
}

/* Unpaid series style */
.chart-bar.series1 {
    -fx-bar-fill: #FF0000;
}

.chart-legend {
    -fx-font-family: "Arial";
}

.axis-label {
    -fx-font-family: "Arial";
}
